.idea/
.idea/workspace.xml
.idea/copyright/profiles_settings.xml
.idea/misc.xml
.idea/php.xml

/.idea

/.DS_Store
/build/
/composer.phar
/composer.lock
/docs/json/**/*
/vendor/
/export/
/.m2/repository
/tests/api/target/
.vscode

/logs/*
!/logs/README.md
/coverage/
*.php_cs.cache
/nbproject/
/cache/
/.env
/.scannerwork/
/.phpunit.result.cache